/* Pedido */
.main_container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 55px;
  margin: 0 auto;
}

.content_container {
  font-size: 1rem;
  border: 1px solid #051826;
  background-color: 	hsl(45, 100%, 51%, 3%) ;
  height: 50%;
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 16px 31px -7px rgba(0,0,0,0.75);
  border-radius: 25px;
}

.title_order {
  font-size: 3rem;
  text-align: center;
  word-break: break-all;

}

.num_order {
  width: 65%;
  background: transparent;
  height: 80px;
  color: #333333;
  padding: 15px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  outline: none;
  border: 5px inset outset #085F69; 
}

.order_request {
  margin-top: 75px;
  margin-bottom: 15px;
  padding: 15px 100px;
  text-align: center;
  border-radius: 20px;
  word-break: break-all;
  background: linear-gradient(129deg, #FFC107 ,#F7CD51 );
  box-shadow: 0px 16px 31px -7px rgba(0,0,0,0.75);
  color: #333333;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  appearance: textfield;
  font-size: 4rem;
}

.order_request:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #051826;
  transition: all .5s ease;
  border-radius: 1rem;
  z-index: -1;
}
.order_request:hover {
  color: #fff;
  transform: scale(1.1);
}
.order_request:hover:before {
  width: 100%;
}




.order_request[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

