
/* Estilo Menu */
.main_container {
  width: 980px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 55px;
  margin: 0 auto;
}

.logo img{
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  display: block;
}

.first_menu {
  width: 90%; 
  padding: 25px;
}





